@import url('https://fonts.googleapis.com/css?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html{
    box-sizing: border-box;
}

*::before, *::after{
    box-sizing: border-box;
}

#wrapper{
    background-color: #cca677;
    height: 100px;
    display: grid;
    vertical-align: middle;
}

#title{
    text-align: left;
    margin-left: 40px;
}

body{
    font-size: 18px; /* 1em or 1rem */
}

img{
    float: right;
    margin-right: 40px;
}

footer {
    clear: both;
    background-color: #cca677;
    align-content: center;
    text-align: center;
}

h1 {
    font-family: 'Macondo Swash Caps', cursive;
}

h2 {
    font-family: 'Raleway', sans-serif;
}